<a id="exceptionmessage" data-toggle="modal" data-target="#errorpopup" data-options="splash-2 splash-ef-4"></a>
<div class="modal splash fade" id="errorpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title custom-font red"><strong style="color:red">Error Occured :ERR @ViewBag.Error</strong></h3>
            </div>
            <div class="modal-body">
                <strong style="color:red">
                    Sorry for the inconvience.<br />
                    Please contact admin with error no 'ERR @ViewBag.Error ' as reference
                </strong>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-border" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>