@model IEnumerable<BusinessEntity.EntityModels.Tbl_Master_CompanyDetails>
<div id="div_company">
    <div class="tile-body">
        <form name="form1" role="form" id="form1" data-parsley-validate>
            @using (Html.BeginForm("ET_Master_Company_Add", "ET_Master_Company", FormMethod.Post))
            {
                foreach (var item in Model)
                {
                    <h4> <label>Company Info</label></h4>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="Email">Company Name</label>
                            <input type="text" name="CompanyName" class="form-control" value="@item.COM_NAME" data-parsley-trigger="change" pattern="/^[a-zA-Z]+$/" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Url">Display Name</label>

                            <input type="text" name="DisplayName" class="form-control" data-parsley-trigger="change" pattern="/^[a-zA-Z]+$/" required>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="Digits">UstId</label>
                            <input type="text" name="UstId" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Numbers">Tax No</label>

                            <input type="text" name="TaxNo" class="form-control">
                        </div>
                    </div>
                    <h4> <label>Address Info</label></h4>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="Alphanumeric">Address</label>
                            <input type="text" name="fc11" class="form-control"
                                   data-parsley-trigger="change"
                                   data-parsley-type="alphanum"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Alpha">Country</label>

                            <select class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Alphanumeric">Zip</label>
                            <input type="text" name="fc11" class="form-control" data-parsley-trigger="change" data-parsley-type="digits" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Alpha">City</label>

                            <select class="form-control"></select>
                        </div>
                    </div>
                    <h4> <label>Contact Info</label></h4>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="Alphanumeric">Email</label>
                            <input type="email" name="fc11" class="form-control" data-parsley-trigger="change" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Alpha">Fax</label>

                            <input type="text" name="fc11" class="form-control" data-parsley-trigger="change" data-parsley-type="digits">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="Alphanumeric">Phone</label>
                            <input type="text" name="fc11" class="form-control" data-parsley-trigger="change" data-parsley-type="digits">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Alpha">Mobile</label>

                            <input type="text" name="fc11" class="form-control" data-parsley-trigger="change" data-parsley-type="digits">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Company Type
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="checkbox checkbox-custom">
                                    <input name="companytype" type="radio" required><i></i> Customer
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="checkbox checkbox-custom">
                                    <input name="companytype" type="radio" required><i></i> Supplier
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="checkbox checkbox-custom">
                                    <input name="companytype" type="radio" required><i></i> Both
                                </label>
                            </div>

                        </div>


                        <div class="form-group col-md-6">
                            <label for="Alpha">Remarks</label>

                            <input type="text" name="fc11" class="form-control" data-parsley-trigger="change" data-parsley-type="alphanum">
                        </div>
                    </div>


                    <div class="tile-footer text-center bg-tr-black lter dvd dvd-top text-center  m-t-20">
                        <!-- SUBMIT BUTTON -->
                        <!-- Button used for submitting the record -->
                        <button type="submit" class="btn btn-success" disabled id="formSubmit">Submit</button>
                    </div>
                }
            }
        </form>

    </div>
</div>
