
@{
    ViewBag.Title = "ET_Sales_OrderToDespatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section angularcontroller
{
    <script src="~/Content/AngularScripts/AC_OrdertoDespatch.js"></script>
    <script type="text/javascript">
        function ordChange() {
            angular.element(document.getElementById("mainDiv")).scope().ClientOrderChanged($("#drpOrder").val());
        }
        function DespatchQtyChange(s)
        {
            if (MoneyValidation(s))
            {
                debugger;
                var td = $(s).parent().parent().find("td");
                if ($(td[7]).find("input").val() == "")
                    $(td[7]).find("input").val("0");
                if ($(td[8]).find("input").val() == "")
                    $(td[8]).find("input").val("0");
                if ($(td[9]).find("input").val() == "")
                    $(td[9]).find("input").val("0");
                if (parseFloat($(td[10]).find("input").val().split('.').join("").replace(",", ".")) > parseFloat($(td[9]).find("input").val().split('.').join("").replace(",", "."))) {
                    $(s).val("0,000");
                    toastr["error"]("Shipment Quantity cannot be more than Available Quantity", "Notification");
                }
                else {
                    if (parseFloat($(td[10]).find("input").val().split('.').join("").replace(",", ".")) > parseFloat($(td[8]).find("input").val().split('.').join("").replace(",", "."))) {
                        $(s).val("0,000");
                        toastr["error"]("Shipment Quantity cannot be more than Pending Quantity", "Notification");
                    }
                }
            }
        }
        function MoneyValidation(s) {
            var re = /^[\d.]+(\,\d*)?$/;
            var txt = s.value;
            if (txt != "") {
                if (!re.test(txt)) {
                    toastr["error"]("Invalid Data", "Notification");
                    s.value = '';
                    return false;
                }
                else {
                    s.value = parseFloat(txt.split('.').join("").replace(",", ".")).toLocaleString("es-ES", { minimumFractionDigits: 2 });
                }
            }
            return true;
        }
        function PrintPanel() {
            var panel = document.getElementById("div_PrintContent");
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Print the Despatch Details</title>');
            printWindow.document.write('</head><body style="font-family:Arial">');
            //document.writeln(panel.innerHtml);
            printWindow.document.write(panel.innerHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            setTimeout(function () {
                printWindow.print();
            }, 500);
            return false;
        }

        function taxchange() {
            debugger;
            if ($("#txtShipmentAmount").val() == "") {
                $("#txtTax").val("");
                message = "Please Select Shipment No, Shipment Amount cannot be empty.";
                toastr["error"](message, "Notification");
            }
            else {
                $("#txtTaxAmt").val((parseFloat($("#txtShipmentAmount").val()) * (parseFloat($("#txtTax").val())) / 100).toFixed(3));
                $("#txtInvAmt").val((parseFloat($("#txtShipmentAmount").val()) + (parseFloat($("#txtTaxAmt").val()))).toFixed(3));
            }
        }
    </script>
}





<!-- ====================================================
           ================= CONTENT ===============================
           ===================================================== -->
<!-- This section is used for displaying link menu on header bar-->
<section id="content">
    <div class="page page-shop-single-order">
        <div class="pageheader">

            <h2>Shipment<span>@*You can place subtitle here*@</span></h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="../Home/Index"><i class="fa fa-home"></i> Indra</a>
                    </li>
                    <li>
                        <a href="#">Admin</a>
                    </li>
                    <li>
                        <a href="#">Shipment</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="row" id="mainDiv" ng-controller="AC_OrdertoDespatchCtrl">
            <div class="col-md-12">
                
                <!--The user can have a option to create and edit records-->
                <section class="tile" id="div_Edit" style="display:block">
                    <!-- tile header -->
                    <div class="tile-header dvd-btm">
                        <h1 class="custom-font"><strong ng-bind="createedit"></strong> Shipment</h1>
                        <ul class="controls">
                            <li style="padding:5px">
                                <!-- function showRecords() is used for return back to view from the current page.ie it actually hide the other pages except view -->
                                <a tabindex="0" ng-click="showRecords();">
                                    <span class="btn btn-hotpink btn-xs mb-10">
                                        <i class="fa fa-arrow-left"></i> Back
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- This Below code is used for Tab purpose -->
                    @*<ul class="nav nav-tabs tabs-dark" style="width:252px;margin-left:25px;background-color:#fff;">
                            <li role="presentation"><a style="background-image:url(../../Assets/images/companydetails.png);height:60px;width:84px;" onclick="companydetais();"></a><i class="icon-calculator"></i></li>
                            <li role="presentation"><a style="background-image:url(../../Assets/images/Contacts.png);height:60px;width:84px;" class="Contacts hidden" onclick="contactdetails();"></a></li>
                            <li role="presentation"><a style="background-image:url(../../Assets/images/BankAccounts.gif);height:60px;width:84px;margin-top:-4px;" onclick="bankdetails();"></a></li>
                        </ul>*@
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">
                        <div name="form1" role="form" id="form1" data-parsley-validate>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="txtDespatchCode">Shipment Code</label>
                                    <input type="text" name="txtDespatchCode" id="txtDespatchCode" ng-model="D_Code" class="form-control" disabled="@ViewBag.AutoManual" @ViewBag.Required>
                                    <input type="text" name="txtDespatchID" id="txtDespatchID" ng-model="D_ID" class="hidden">
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="txtDDate">Shipment Date* </label>
                                    <div class='input-group datepicker w-360' style="width:100%" data-format="DD-MM-YYYY">
                                        <input type='text' id="txtDDate" name="txtDDate" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Email">Customer Name*</label>
                                    <select data-ng-model="D_CustomerID" id="drpCustomer" data-parsley-trigger="change" class="form-control chosen-select" ng-change="CustomerChange()" required>
                                        <option value="">-Select-</option>
                                        <option ng-repeat="customer in customers" value="{{customer.COM_ID}}">
                                            {{customer.COM_DISPLAYNAME}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="drpCurrency">Store *</label>
                                    <select data-ng-model="D_StoreID" id="drpStore" class="form-control chosen-select" ng-change="StoreChange()" data-parsley-trigger="change" required>
                                        <option value="">-Select-</option>
                                        <option ng-repeat="store in storelist" value="{{store.SM_Id}}">
                                            {{store.SM_Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Order No*</label>
                                    <select data-ng-model="D_OrderID" id="drpOrder" multiple="" data-parsley-trigger="change" class="form-control chosen-select" ng-change="OrderChanged()" onchange="ordChange();">
                                        <option ng-repeat="order in orderlist" value="{{order.SO_ID}}">
                                            {{order.SO_Code}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Url">Sales Person *</label>
                                    <select data-ng-model="D_SalesPerson" id="drpSalesPerson" data-parsley-trigger="change" class="form-control chosen-select" ng-change="SalesPersonChange()" disabled required>
                                        <option value="">-Select-</option>
                                        <option ng-repeat="salesperson in salespersons" value="{{salesperson.USER_ID}}">
                                            {{salesperson.DISPLAY_NAME}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="drpTransport">Mode Of Transport *</label>
                                    <select data-ng-model="D_ModeOfTransport" id="drpTransport" class="form-control chosen-select" ng-change="TransportChange()" data-parsley-trigger="change" required>
                                        <option value="">-Select-</option>
                                        <option value="1">Air</option>
                                        <option value="2">Road</option>
                                        <option value="3">Water</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="txtEnclosures">Vechile No</label>
                                    <input type="text" name="txtVechileNo" id="txtVechileNo" ng-model="D_VechileNo" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txtEnclosures">Transporter Name</label>
                                    <input type="text" name="txtTransporterName" id="txtTransporterName" ng-model="D_TransporterName" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="txtEnclosures">Delivery From</label>
                                    <input type="text" name="txtDeliveryFrom" id="txtDeliveryFrom" ng-model="D_DeliveryFrom" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txtEnclosures">Delivery To</label>
                                    <input type="text" name="txtDeliveryTo" id="txtDeliveryTo" ng-model="D_DeliveryTo" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="txtEnclosures">Remarks</label>
                                    <input type="text" name="txtRemarks" id="txtRemarks" ng-model="D_Remarks" class="form-control">
                                </div>
                            </div>
                            <section class="tile">
                                <!-- tile header -->
                                <div style="background-color:cadetblue;color:white;" class="tile-header dvd dvd-btm collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <h1 class="custom-font"><strong>Shipment</strong> Details</h1>
                                </div>
                                <!-- /tile header -->
                                <!-- tile body -->
                                <div class="tile-body">

                                    <div class="collapse" id="collapseExample">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <style type="text/css">
                                                    #editable-usage > tbody > tr td, .table.table-custom > tbody > tr th {
                                                        padding: 0px;
                                                    }
                                                </style>
                                                <table class="table table-custom" id="editable-usage">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th style="display:none;">OrderId</th>
                                                            <th>Order Code</th>
                                                            <th style="display:none;">Product No</th>
                                                            <th>Article No</th>
                                                            <th>Product Name</th>
                                                            <th>UOM</th>
                                                            <th>Order Quantity</th>
                                                            <th>Pending Quantity</th>
                                                            <th>Available Stock</th>
                                                            <th>Shipment Quantity*</th>
                                                            <th style="display:none;">OrderDetailId</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="despatchdetailsbody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /tile body -->

                            </section>


                        </div>

                    </div>
                    <div class="tile-footer text-center bg-tr-black lter dvd dvd-top text-center  m-t-20">
                        <!-- SUBMIT BUTTON -->
                        <!-- Button used for submitting the record -->
                        <button type="submit" class="btn btn-success" id="formSubmit" ng-click="SubmitClick()" ng-bind="submittext">Submit</button>
                    </div>

                </section>

            </div>
        </div>
    </div>
</section>

